<section id="services">
      <div class="container">
          <h1 class="text-center">Beginners</h1>
          <div class="row">
              <div class="col-lg-4 mt-4">
                  <div class="card servicesText">
                      <div class="card-body">
                          <i class="fas servicesIcon fa-clock"></i>
                          <a href="https://www.google.com" class="btn btn-success">Link</a>
                          <h4 class="card-title mt-3">Beginners</h4>
                          <p class="card-text mt-3">Beginners level books for Spanish
                          </p>
              <div class="book read">
              <div class="cover">
                <img src="http://d.gr-assets.com/books/1414348859l/23209971.jpg">
              </div>
              <div class="description">
                <p class="title">Girl at War</br>
                  <span class="author">Sara Novic</span>
                </p>
              </div>
            </div>
                    </div class=card >
                      </div class=Beginner id="Learn Spanish With Short Stories for Adult Beginners">
                      </div class=Beginner id="Complete Spanish Workbook">
                      </div class=Beginner id="Spanish Short Stories for Beginners">
                      </div class=Beginner id="Learn Spanish for Adult Beginners">
                      </div class=Beginner id="No Nonsense Spanish Workbook">
                    </div>